<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/devaleixo"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/0aleixo/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/gabriel-aleixo-6b738b234/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Devaleixo, <i class="fas fa-heart"></i> desenvolvedor apaixonado!
  </div>
</div>
